<header>
	<ul>
		<li data-option="liquid">
			<img src="images/liquid.png" />
		</li>
		<li data-option="liquid-2">
			<img src="images/liquid-2.png" />
		</li>
		<li data-option="4">
			<img src="images/option-4.png" />
		</li>
		<li data-option="5">
			<img src="images/option-5.png" />
		</li>
		<li data-option="6">
			<img src="images/option-6.png" />
		</li>
		<!--<li data-option="1">
			<img src="images/option-1.png" />
		</li>
		<li data-option="2">
			<img src="images/option-2.png" />
		</li>-->
		<li data-option="3">
			<img src="images/option-3.png" />
		</li>
		<!--<li data-option="7">
			<img src="images/option-7.png" />
		</li>
		<li data-option="8">
			<img src="images/option-8.png" />
		</li>-->
	</ul>
</header>