<main>
	<article>
		<div id="placeholder">
			<section>
				<video id="video" autoplay="autoplay" playsinline="true"></video>
				<div id="tracking"></div>
				<div id="border"></div>
				<canvas id="canvas"> </canvas>
			</section>
		</div>
		<button id="capture"><span>Take Picture</span></button>
		<div id="countdown"><label></label></div>
		<div id="images">
			<img id="option-1-image" src="/images/option-1.png" />
			<img id="option-2-image" src="/images/option-2.png" />
			<img id="option-3-image" src="/images/option-3.png" />
			<img id="option-4-image" src="/images/option-4.png" />
		</div>
	</article>
	<!--504 x 360-->
</main>